@inherits AuthorDetailsBase
@page "/authors/details/{Id}"

@if (Author == null)
{
    <div class="text-center">
        <div class="error mx-auto" data-text="404">Loading...</div>
    </div>
}
else
{
    <div class="row mb-2">
        <div class="col-12 card flex-md-row mb-4 box-shadow h-md-250">
            <img class="card-img-right flex-auto d-none d-md-block" src="@Author.ImageUrl" data-src="holder.js/200x250?theme=thumb" alt="@Author.FirstName" style="width: 300px; height: 250px;" data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark">@Author.FirstName @Author.LastName</a>
                </h3>
                <div class="mb-1 text-muted">Books (@Author.Books?.Count)</div>
                <p class="card-text mb-auto">@Author.Profile</p>
            </div>
        </div>
    </div>
}

@if (Author?.Books?.Any() == true)
{
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Books
        </div>
        <div class="card-body">
            <!-- Payment method 1-->
            @foreach (var book in Author.Books)
            {
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="@book.ImageUrl" height="50" width="70"/>
                        <div class="ml-4">
                            <div class="small">@book.Title</div>
                            <div class="text-xs text-muted">Published @book.Year</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="ml-4">
                            <div class="text-xs text-muted">@book.Summary</div>
                        </div>
                    </div>
                    <div class="ml-4 small">
                        <div class="badge badge-light mr-3">@book.Price.Value.ToString("C0")</div>
                        <a href="/books/details/@book.Id">View</a>
                    </div>
                </div>
                <hr>
            }

        </div>
    </div>
}